# SPDX-FileCopyrightText: 2025 Np-93/237 (Yretenai/Legiayayana/Chronovore)
#
# SPDX-License-Identifier: EUPL-1.2

[submodule "DragonLib"]
	path = DragonLib
	url = git@github.com:yretenai/DragonLib.git
[submodule "Waterfall"]
	path = Waterfall
	url = https://github.com/yretenai/Waterfall.git
